.input-row {
    margin-bottom: 40px;
}

  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: lightgray}

  .addRecipient:hover {background-color: lightgray}

  /*Styl przycisku manualnego dodawania adresatów*/
  .addRecipientButton {
    margin-bottom: 25px;
  }

  /*Input dodawania pliku*/
  .fileInput {
    display: block;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color:white;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-width: 3px;
    border-radius: 45px;
  }

  .fileInputContainer {
    display: inline-block;
    width: 100%;
    min-width: 100% !important;
    position: relative;
    align-content: center;
  }

  /*Styl całego kontenera*/
  .container {
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    border-color: white;
    background-color: #adb2d3;
    background-image: linear-gradient(315deg, #adb2d3 0%, #ff6b6c 74%);
  }

  /*Styk tekstu w nagłówku komponentu*/
  .pageHeader {
    font-size: 38px;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
  }

  /*Styl przycisku wysłania wiadomości*/
  .sendButton {
    margin-bottom: 10px;
  }

  .chosenTimeBreakLabel {
    color: white;
    font-size: 16px;
    font-family: "Arial Black", Gadget, sans-serif;
  }

  .close {
    display: inline;
    position: absolute;
    opacity: 0.5;
    margin-left: 10px;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 35px;
    width: 3px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .recipientBlockInput {
    display: inline-block;
  }